<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= pianist.name %>'s Details</h1>
    <p>Country: <%= pianist.country %></p>
    <p>ID: <%= pianist._id %></p>
    <a href="/pianists"><button>Back</button></a>
    <form
      action="/pianists/<%= pianist._id %>?_method=DELETE"
      method="POST"
      style="display: inline"
    >
      <button>Delete</button>
    </form>
  </body>
</html>
