<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>Create New Pianist</div>
    <form action="/pianists" method="post">
      <label for="name">Pianist Name : </label>
      <input type="text" name="name" />
      <br />
      <label for="country">Country of Birth : </label>
      <input type="text" name="country" />
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
