<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Pianists</h1>
    <ul>
      <% pianists.forEach(pianists => { %>
      <li>
        name: <%= pianists.name%>, country: <%= pianists.country %>
        <a href="/pianists/<%= pianists._id %>"><button>Edit</button></a>
        <button action="/pianists" method="delete" id="<%= pianists.id%>">
          Delete
        </button>
      </li>
      <% }) %>
    </ul>
    <a href="/pianists/new"><button>Create</button></a>
  </body>
</html>
